/* General Style */
body {
  background-color: rgb(49, 78, 95);
  font-family: Arial, sans-serif;
  margin: 2px;
}

/* Header */
header {
  background: #36436a;
  text-align: left;
}
header nav ul {
  list-style-type: none;
  overflow: hidden;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
header nav ul li a:hover {
  background-color: #000000;
}
header nav ul li a.active {
  background-color: aliceblue;
  color: black;
}
header nav ul li.right {float: right;}

@media screen and (max-width: 600px) {
  header nav ul li.right,
  header nav ul li {float: none;}
}
/* Main Content */
main {
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.hidden {
  display: none;
}

/* Footer Style */
footer {
  background-color: #323232;
  padding: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: -1;
}
footer a {
  color: white;
  /*text-decoration: none;*/
}
.footer-container {
  display: flex; /* Use flexbox to create three sections */
  justify-content: space-around; /* Distribute space evenly between sections */
  margin-bottom: 15px; /* Space between footer content and "All rights reserved" text */
}
.footer-section {
  flex: 1; /* Each section will take up an equal amount of space */
  padding: 0 15px;
  text-align: center; /* Center the content in each section */
}
.footer-section p {
  margin: 5px 0; /* Add spacing between lines */
}
.footer-section p a {
  color: azure;
}

/* Social Media Icons */
.fa-brands {
  font-size: 2rem; /* Adjust size as needed */
}
/* Add spacing between the icons */
p a {
  margin: 0 15px; /* Adjust spacing as needed */
  color: inherit; /* Ensures the icons take the default text color */
  text-decoration: none; /* Removes underline from links */
}

/* Optional: Add hover effect for links */
p a:hover {
  color: #007bff; /* Change to your desired hover color */
}